.piano {
  width:915px;
  min-height:210px;
  margin:auto;
  background-color:#212020;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
  padding:20px 20px 20px 35px;
  border-radius:10px;
  position:relative;
  margin-bottom:15px;
}

.piano-tracks {
  width:500px;
  height:300px;
  margin:auto;
  background-color:#212020;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
  padding:20px 20px 20px 35px;
  border-radius:10px;
  position:relative;
  margin-bottom:15px;
  padding:30px;
}

.piano-tracks__list {
  background-color:white;
  max-height:265px;
  overflow:hidden;
  overflow-y:auto;
  border:solid 1px #2d2c2c;
}

.piano-tracks__list__ul {
  list-style:none;
  margin:0;
  padding:0;
}

.piano-tracks__list__ul li {
  color:white;
  background-color:#212020;
  text-align:left;
  padding:10px;
  border-bottom:solid 1px #2d2c2c;
  cursor:pointer;
}

.piano-tracks__list__ul li:hover {
  background-color:#191818;
}

.piano__recorder {
  color:white;
  position:absolute;
  right:20px;
  font-weight:bold;
  display:flex;
  align-items:center;
}

.piano__recorder__input {
  width:18px;
  height:18px;
  margin-right:5px;
}

.piano__brand {
  color:white;
  text-align:center;
  display:block;
  font-size:1rem;
  margin:0 0 20px 0;
}

.piano__scale {
  margin:0;
  padding:0;
  list-style:none;
  position:relative;
  font-size:0;
}

.piano__scale li {
  padding:0;
  margin:0 0 0 -14px;
  width:40px;
  height:200px;
  cursor:pointer;
  float:left;
  position:relative;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,0.75);
  z-index:1;
  background:#fff; /* Old browsers */
  background:   -moz-linear-gradient(top,  #fff 0%, #d1cfcf 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top,  #fff 0%,#d1cfcf 100%); /* Chrome10-25,Safari5.1-6 */
  background:        linear-gradient(to bottom,  #fff 0%,#d1cfcf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.piano__scale li:active {
  -webkit-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
     -moz-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
          box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,0.75);
}

.piano__scale li.half {
  margin-left:1px;
}

.piano__scale li.flat {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4f4f4f+1,2d2c2c+100 */
  background:#4f4f4f; /* Old browsers */
  background:   -moz-linear-gradient(top,  #4f4f4f 1%, #2d2c2c 100%); /* FF3.6-15 */
  background:-webkit-linear-gradient(top,  #4f4f4f 1%,#2d2c2c 100%); /* Chrome10-25,Safari5.1-6 */
  background:        linear-gradient(to bottom,  #4f4f4f 1%,#2d2c2c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height:125px;
  z-index:2;
  width:30px;
  margin-left:-15px;
  -webkit-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -5px 5px 1px rgba(0,0,0,1);
}


.piano__scale li.flat:active {
  -webkit-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,1);
     -moz-box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,1);
          box-shadow:inset 0 -2px 2px 1px rgba(0,0,0,1);
}
